# Ignore virtual environments
venv/
env/
flask-venv/

# Ignore the directory with photos and logs
found_people_captures/
logs/

# Ignore mavproxy files
mav.parm
mav.tlog
mav.tlog.raw

# Ignore coordenadas.txt
coordenadas.txt
