aiogrpc==1.8
click==8.1.7
Flask==2.2.5
future==1.0.0
grpcio==1.62.2
importlib-metadata==6.7.0
itsdangerous==2.1.2
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
MAVProxy==1.8.70
mavsdk==2.7.0
numpy==1.21.6
opencv-python==4.10.0.82
pbr==6.0.0
pkg_resources==0.0.0
protobuf==3.20.1
pymavlink==2.4.41
pyserial==3.5
testresources==2.0.1
typing_extensions==4.7.1
Werkzeug==2.2.3
zipp==3.15.0
